
   html{
    background: rgb(238,232,174);
    background: radial-gradient(circle, rgba(238,232,174,1) 0%, rgba(148,187,233,1) 100%);
   }
#Formulario input{
    display:block; 
    padding: 5px;
}
*{
    font-family: 'Roboto Mono', monospace; 
}
.nav_ul ul li a {
    color:white;
   
    

}
.nav_ul ul li{
    list-style:none;    
    display: inline-block;
    padding-left:160px;
    padding-top: 10px;;
}

.nav_ul{
    height: 50px;
    border-radius: 10px;
    background-color: rgb(36, 35, 35);
}
.titulo{
    margin-left: 350px;
    margin-top: 20px;
    background-image: url(foto.jpeg);
    background-size: cover;
    height:600px;
    width:600px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.titulo h1{
    padding-left:150px;
    font-size: 50px;
    font-family:'Encode Sans SC', sans-serif; 
}
#Nosotros{
    color:white;
    padding-left: 50px;
    background-color: rgb(36, 35, 35);
    width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 350px;
    
    
}
#Nosotros h2{
    display: flex;
    justify-content: center;
}
#Entrenamientos{
    color: white;
    margin-left: 350px;
    background-color: rgb(36, 35, 35);
    width:600px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
}
#Entrenamientos h2 {
    display: flex;
    justify-content: center;
}
#Testimonios{
    color: white;
    margin-left: 350px;
    padding-left: 50px;
    background-color: rgb(36, 35, 35);
    width:600px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
#Testimonios h2{
    display: flex;
    justify-content: center;
}
#Productos{
    color: white; 
    margin-left: 350px;
    padding-left: 50px;
    background-color: rgb(36, 35, 35);
    width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
#Productos h2{
    display: flex;
    justify-content: center;

}
#Formulario{
    color: white;
    margin-top: 20px;
    margin-left: 350px;
    background-color: rgb(36, 35, 35);
    width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.actividades{
    display: flex;
    justify-content: space-between;

}


